@media (max-width:880px) {
    .hamburger {
        display: block;
    }
    nav{
        padding: 0 1vw;
        position: fixed;
    }
    #navItems {
        /* display: none; */
        position: absolute;
        left: -100%;
        top: 0px;
        background: #222;
        text-align: start;
        width: 265px;
        min-height: 100vh;
        /* padding: 7px 0px; */
        z-index: 10;
        transition: all 0.5s ease-in-out;
    }
    #navItems ul{
        display: flex;
        flex-direction: column;
    }
    #navItems ul li a {
        padding: 20px 0;
    }

    #navItems ul li a {
        margin-left: 0;
        display: block;
        width: 265px;
        padding-left: 25px;
        color: white;
        border-bottom: solid 1px #ffffff24;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    #navItems.active {
        left: 0%;
        transition: all .5s ease-in-out;
    }
    .close{
        /* margin: 7px; */
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 25px;
        position: relative;
    }
    .close .logo{
        height: 40px;
    }
    .close .logo img{
        width: 150px;
    }

    .close .logo::after{
        content: "";
        position: absolute;
        height: 40px;
        width: 2px;
        left: 190px;
        background: #ffffff24;
    }
    .close-icon i{
        color: black;
        display: block;
        font-size: 15px;
        background: rgba(255,255,255,1);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 5px;
        cursor: pointer;
    }

}

@media (max-width:800px) {
    .slider{
        min-height: 400px;
    }
    .slide img{
        object-fit: cover;
        min-height: 400px;
        height: 100vh;
    }

    .slide-content{
        text-align: center;
        padding-right: 0;
        justify-content: center;
        top: calc(75% - 54px);
    }
    .slide-content p{
        font-size: 21px;
        text-align: center;
    }
    .control-btn{
        min-height: 400px;
        height: 100vh;
    }
    h1{
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }
    #about{
        flex-direction: column;
        padding: 60px 5vw 0;
    }
    .about-content{
        width: 100%;
    }
    .about-img{
        width: 100%;
        margin-top: 20px;
    }
    /* h2:nth-child(1){
        font-size: 20px;
    }
    h2:not(:nth-child(1)){
        font-size: 28px;
    } */
    h2{
        font-size: 28px;
    }
    hr{
        width: 60vw;
    }
    .spec-box{
        min-height: 100px;
        width: 100%;
        align-items: center;
    }
    .spec-content{
        width: 100%;
    }
    .location-info{
        flex-direction:column-reverse;
    }
    #map iframe {
        margin-top: 5vw;
        height: 400px;
        width: 90vw;
    }
    .map-details {
        width: 90vw;
    }
    #columns{
        flex-direction: column;
    }
    #columns h3{
        margin-top: 25px;
    }
    .media-icons{
        justify-content: start;
    }
    .media-icons i:not(:nth-child(4)){
        margin-right: 10px;
    }
    #column-3{
        width: 100%;
    }
    #column-3 form input[type="text"],
#column-3 form input[type="email"]{
        width: 100%;
        margin-top: 2px;
    }
}